@ui-opacity: .7;
@ui-background-color: rgba(255, 255, 255, .1);
@ui-color: #f77;

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  perspective: 1000px;
  background-color: black;
  user-select: none;
  cursor: crosshair;
  font-family: monospace;
  text-rendering: geometricPrecision;
  font-size: 11px;
  color: @ui-color;
}

#world {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  &.no-labels {
    .body {
      .name, .info {
        display: none;
      }
    }
  }

  .zoomHelper {
    position: absolute;
    box-shadow: inset 0 0 0 2px red;
    opacity: .4;
    transition: opacity .5s ease;
    pointer-events: none;
    &.gone {
      transition-duration: 2s;
      opacity: 0;
    }
  }

  .body {
    position: absolute;
    background: #555;
    color: white;
    transform-style: preserve-3d;
    transform-origin: top left;
    border-radius: 50%;
    overflow: visible;
    display: none;
    align-items: center;
    justify-content: center;

    &.target {
      background: #933;
      .name {
        background-color: rgba(255, 100, 100, .4);
      }
    }

    &.visible {
      display: flex;
    }

    .info {
      pointer-events: none;
      font-size: .85em;
      white-space: nowrap;
      position: absolute;
      margin-top: 37px;
      width: 310px;
      overflow: hidden;
      padding: 6px;
      border-radius: 3px;
      background-color: rgba(255, 255, 255, .15);
      opacity: 0;
      transform: translateY(10px);
      transition: all .2s ease;
      transition-property: opacity, transform;
      transition-delay: .3s;
    }

    .name {
      display: inline-block;
      line-height: 100%;
      background-color: rgba(255, 255, 255, .15);
      padding: 2px 4px;
      border-radius: 3px;
      white-space: nowrap;
    }

    &:hover {
      .info {
        transition-delay: 0s;
        transform: translateY(0);
        opacity: 1;
      }
    }

  }

}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: @ui-background-color;
  z-index: 1;
  opacity: @ui-opacity;
  border-radius: 0 8px 0 0;
  .control {
    display: flex;
    flex-direction: row;
    align-items: center;

    .detail,
    .description {
      padding: 10px;
      width: 200px;
    }

    input {
      width: 100%;
    }
  }
}

.tips {
  position: absolute;
  left: 0;
  bottom: 100%;
  z-index: 99;

  &:hover {
    nav {
      opacity: 1;
    }
    .icon {
      border-radius: 0;
    }
  }

  nav {
    position: absolute;
    bottom: 100%;
    left: 0;
    opacity: 0;
    white-space: nowrap;
    background-color: @ui-background-color;
    pointer-events: none;
    border-radius: 0 8px 8px 0;

    transition: opacity .2s ease;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding: 10px;
      }
    }
  }

  .icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @ui-background-color;
    border-radius: 0 8px 0 0;
  }

}